.App {
 
}







.App-link {
  color: #61dafb;
}
#container{

  display:flex;
  justify-content: space-around;
}
.rendertimetemp{
/* width:50%;
  border : 5px solid blue; */
  text-align: center;
  position: relative;
  top:100px;
}


